#body_nz {
	background-image: url("https://cdn.pixabay.com/photo/2018/09/15/12/49/new-zealand-3679340_960_720.jpg");
}

#body_social {
background: url("../images/background.jpg") no-repeat center center fixed;
background-color: #cccccc;
}

