/*
#paragraph_1 {
  color: red;
}
*/

/* just add a border to the image when we hover it */
img[src]:hover {
	border: 1px solid black;
}

/* change color to h1 when hover */
h1:hover {
	color: #0984e3;
}

/* centering the image */
img {
  display: block;
  margin: 0 auto;
}

/* Contact information */
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}